{% load naseni_extras %}

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About Us</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Our Institutes</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Programmers & Projects</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">News</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
    </ul>
    <p class="text-center text-md-right">©2023 Copyright:<a class="text-decoration-none" href="/"> <span style="color:#000080">NASENI</span><span style="color:black"> - </span><span style="color:#880808">The National Agency for Science and Engineering Infrastructure</span></a></p>
  </footer>
</div>