{% load static %}

<div class="sidebar" id="side_nav">
    <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
        <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2">NASENI</span><span class="text-white">The National Agency for Science and Engineering Infrastructure</span></h1>
        <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i class="fas fa-stream"></i></button>
    </div>
    <ul class="list-unstyled px-2">
        <li class=""><a href="#" class="text-decoration-none"><i class="fa fa-home"></i>Home</a></li>
        <li class=""><a href="#" class="text-decoration-none"><i class="fa-sharp fa-regular fa-address-card"></i>About Us</a></li>
        <li class=""><a href="#" class="text-decoration-none"><i class="fa fa-building-columns"></i>Institutes & Centers</a></li>
        <li class=""><a href="#" class="text-decoration-none"><i class="fa-brands fa-r-project"></i>Programmes & Projects</a></li>
        <li class=""><a href="#" class="text-decoration-none"><i class="fa-solid fa-house-medical"></i>Facilities</a></li>
        <li class=""><a href="#" class="text-decoration-none"><i class="fa-solid fa-photo-film"></i>Gallery</a></li>
        <li class=""><a href="#" class="text-decoration-none"><i class="fa-regular fa-newspaper"></i>News</a></li>
        <li class=""><a href="#" class="text-decoration-none"><i class="fa-solid fa-book-journal-whills"></i>Articles</a></li>
        <li class=""><a href="#" class="text-decoration-none"><i class="fa-solid fa-phone"></i>Contact Us</a></li>
        <li class=""><a href="#" class="text-decoration-none"><i class="fa-solid fa-question"></i>FAQs</a></li>
    </ul>
    <hr class="h-color mx-2">

    <ul class="list-unstyled px-2">
        <li class=""><a href="#" class="text-decoration-none"><i class="fa fa-bars"></i>settings</a></li>
        <li class=""><a href="#" class="text-decoration-none"><i class="fa fa-bell"></i>Notifications</a></li>
    </ul>

</div>